body {
  margin: 30px 0 0 0;
}

.tweet-header-info {
  font-size: 16px;
  margin: 0 3px;
  color: #909090;
}

.tweet-username {
  margin: 0 10px 0 0;
  font-size: 18px;
}

.tweet-user-name {
  margin: 0 10px 0 0;
  font-size: 18px;
}

a {
  text-decoration: none;
}

.entity-text {
  margin: 0 10px 0 0;
}

.entity-expanded_url {
  display: block;
}

p.tweet-text {
  font-size: 19px;
  padding: 13px;
  margin: -16px 0px 22px 0px;
  color: #4C4C4C;
  font-family: inherit;
  background-color: #EFEFEF;
  border: 1px solid #939393;
  border-radius: 4px;
  overflow: hidden;
  white-space: pre-wrap;
  word-wrap: break-word;
}
